[Unit]
Description=Random Print Service

[Service]
Type=simple
WorkingDirectory=/home/admin/randomprint
ExecStart=/usr/bin/python3 /home/admin/randomprint/randomprint.py
Restart=always

[Install]
WantedBy=multi-user.target